# -*- coding: utf-8 -*-

configuration:
  languages: zh-ch # temporarily does not support i18n
  name: ${NAME} # Cloud name
  Storage: ${DRIVER} # Storage method ( mysql or json )
  mysql: # if you already have mysql installed and have chosen it
    host: ${MYSQL_HOST}
    user: ${MYSQL_USER}
    passwd: ${MYSQL_PASSWD}
    port: ${MYSQL_PORT}
  maxsize: 100 # Max size allowed for upload (mb)
  type: # type of upload allowed 
    - ai
    - apk
    - avi
    - css
    - dmg
    - doc
    - exe
    - flv
    - gif
    - html
    - iso
    - jpg
    - js
    - log
    - mov
    - mp3
    - otf
    - pdf
    - php
    - png
    - ppt
    - pptx
    - psd
    - sketch
    - sql
    - wav
    - xls
    - zip
    - jpeg
    - mp4
    - py
    - go
    - docx
    - md